<div class="container mt-3">
    <div class="jumbotron">
        <h1>Productos</h1>
        <div class="table-responsive">
        <table class="table table-dark">
            <tr style="color:yellow;">
                <th>Nombre</th>
                <th>Precio</th>
                <th>Foto</th>
            </tr> 
            {{#each productos}}
            <tr>
                <td>{{nombre}}</td>   
                <td>{{precio}}</td> 
                <td><img src="{{foto}}" width="45px" height="45px"></td>
        {{/each}}
    </div>
</div>